.boottom {
  height: 325px;
  flex-shrink: 0;
  background: var(--light-blue, #c0d9d9);
  padding-top: 20px;
}

.bottom-heading {
  display: flex;
  height: 85px;
  display: flex;
  justify-content: left;
  flex-shrink: 0;
  color: var(--dark-blue, #005564);
  font-family: "Francois One";
  display: flex;
  font-size: 30px;
}
