.heading {
  display: flex;
  width: 1296px;
  height: 85px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.heading h2 {
  flex-shrink: 0;
  color: var(--dark-blue, #005564);
  font-family: "Francois One";
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 10px;
}
